/**
 * @name Sock Drawer
 * @version 8.0
 * @description A simple but highly customizable theme, now sugar free!
 * @author Spectra
 * @invite PZdnCVD
 * @source https://github.com/xcruxiex/themes
 * @website https://betterdiscord.app/theme/Neutron
 * @BDEditor Neutron
*/

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@100;300;400;500;700&display=swap');
@import url('https://xcruxiex.github.io/themes/themes-cores/neutron8.css');

:root {
  --backgroundImage: url('https://cdn.discordapp.com/attachments/683228939522801707/1089769524024311848/image_2023-03-26_213212212_1_1.png');
  --backgroundColor: #170904;
  --backgroundSize: 100%;
  --backgroundPosition: center right;
  --backgroundRepeat: no-repeat;
  --backgroundBlur: 0px;
  --backgroundOpacity: 0.5;
  --homeImage: url('https://media.discordapp.net/attachments/683228939522801707/1089770122345984110/Kevin.png');
  --homeImageSize: 100%;
  --themeColor1: #7A0000;
  --themeColor2: #000000;
  --customFont: Open Sans;
  --backgroundCode: rgb(0,0,0,0.65);
  --backgroundName: rgb(14,5,0,0.76);
}

/* Any custom CSS below here */


